[submodule "Star/vendor/spdlog"]
	path = Star/vendor/spdlog
	url = https://github.com/k5tuck/spdlog.git
[submodule "Star/vendor/imgui"]
	path = Star/vendor/imgui
	url = https://github.com/k5tuck/imgui.git
[submodule "Star/vendor/glfw"]
	path = Star/vendor/glfw
	url = https://github.com/k5tuck/glfw.git
[submodule "Star/vendor/yaml-cpp"]
	path = Star/vendor/yaml-cpp
	url = https://github.com/k5tuck/yaml-cpp.git
[submodule "Star/vendor/glm"]
	path = Star/vendor/glm
	url = https://github.com/k5tuck/glm.git
[submodule "Kratos"]
	path = Kratos
	url = https://github.com/k5tuck/Kratos.git
