**/.vs
/.vscode
/bin
/bin-inter

*.sln

# Star
/Star/*.vcxproj.*

# Messenger
/Messenger/*.vcxproj.*

# Kratos
/Kratos/

# Premake
resources/premake/bin

# Vendor 
/Star/vendor/glfw
/Star/vendor/glm
/Star/vendor/imgui
/Star/vendor/spdlog
/Star/vendor/yaml-cpp

/Star/vendor/glad/libs
/Star/vendor/glad/bin
/Star/vendor/glad/bin-int
/Star/vendor/glad/*.vcxproj
/Star/vendor/glad/*.vcxproj.*