[submodule "Kratos"]
	path = Kratos
	url = https://github.com/k5tuck/kratos
[submodule "ImGui"]
	path = Star/vendor/imgui
	url = https://github.com/k5tuck/imgui.git
[submodule "spdlog"]
	path = Star/vendor/spdlog
	url = https://github.com/k5tuck/spdlog.git
[submodule "GLFW"]
	path = Star/vendor/glfw
	url = https://github.com/k5tuck/glfw.git
[submodule "GLM"]
	path = Star/vendor/glm
	url = https://github.com/k5tuck/glm.git
[submodule "Yaml-Cpp"]
	path = Star/vendor/yaml-cpp
	url = https://github.com/k5tuck/yaml-cpp.git
